repos:
  - repo: local
    hooks:
      - id: autoflake
        name: autoflake
        entry: .venv/bin/autoflake -i -r
        language: system
        types: [ python ]
        require_serial: true
        files: ^(dbx/|tests/|setup.py)
      - id: isort
        args: [--combine-as]
        name: isort
        entry: .venv/bin/isort
        language: system
        types: [ python ]
        files: ^(dbx/|tests/|setup.py)
        require_serial: true
      - id: black
        name: black
        entry: .venv/bin/black --line-length 100
        language: system
        types: [ python ]
        require_serial: true
        files: ^(dbx/|tests/|setup.py)
