pandas==2.2.3
numpy==1.26.4
pydicom==3.0.1
pylibjpeg==2.1.0
pylibjpeg-openjpeg==2.3.0
s3fs==2025.9.0
Pillow==10.4.0
matplotlib==3.8.5
pyarrow==17.0.0
python-magic==0.4.27
dicognito==0.17.0
ff3==1.0.2
typing_extensions==4.12.2
psycopg[binary,pool]==3.2.6
databricks-sdk==0.88.0
simplejson==3.20.2
