databricks-pixels @ git+https://github.com/databricks-industry-solutions/pixels@features/dicom_web_integration
databricks-sql-connector>=3.0.0
databricks-sdk
fastapi
uvicorn
httpx
requests-toolbelt
zstd
psycopg2-binary
psutil>=5.9.0
python-multipart
pydicom>=2.4.0
pylibjpeg
pylibjpeg-libjpeg
pylibjpeg-openjpeg
