* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 10px;
  font-family: Arial;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

img {
  width: 100%;
}

/* Center website */
.main {
  max-width: 100%;
  margin: auto;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 50px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 5px;
  border: 1px solid #888;
  width: 100%;
}

img.modal-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.row {
  margin: 5px -16px;
  overflow-y: auto;
  height: 600px;
  float: left;
  width: 85%;
}

/* Add padding BETWEEN each column */

.row, .row>.column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */

.column {
  float: left;
  height: 210px;
  width: 25.00%;
  display: none;
  /* Hide all elements by default */
}

.column p {
  margin-top: 0px;
}

/* Clear floats after rows */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */

.content {
  /* background-color: rgb(37, 136, 50); */
  padding: 10px;
  color: #333;
  size: 14pt;
}

.content p {
}

.content img {
  max-height: 100%;
  max-width: 100%;
}

/* The "show" class is added to the filtered elements */

.show {
  display: block;
}

/* Style the buttons */

.btn {
  border: none;
  outline: none;
  padding: 8px 10px;
  margin: 3px 3px;
  background-color: white;
  cursor: pointer;
  position:relative
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.btn-panel {
  padding: 5px;
  float: left;
  width: 15%;
}

.gauge {
  z-index: 3;
  background: #0000ff40;
  width:10px;
  height:50px;
  position:absolute;
  left:0;
  bottom:0;
  transform: rotate(180deg);
  margin: 0 auto
}