name: Pixels Dev Branch Lint & Check

on:
  push:
    branches: [ dev ]

jobs:
  lint:
      name: Lint Code
      runs-on: ubuntu-latest
  
      steps:
        - name: Checkout code
          uses: actions/checkout@v4
  
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: "3.11"
  
        - name: Install dependencies for style
          run: |
            python -m pip install --upgrade pip
            make dev
        - name: Run linting (linter, code style)
          run: |
            source .venv/bin/activate
            make style
      
        - name: Run pre-commit checks
          run: |
            source .venv/bin/activate
            make check
  
