name: AWS integration test PR

on:
  pull_request:

jobs:
  run-databricks-notebook:
    runs-on: html_publisher
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Run a databricks notebook
        uses: databricks/run-notebook@v0
        with:
          local-notebook-path: 01-dcm-demo.ipynb
          git-commit: ${{ github.event.pull_request.head.sha }}
          databricks-host: https://e2-demo-west.cloud.databricks.com
          databricks-token: ${{ secrets.DEPLOYMENT_TARGET_TOKEN_AWS }}
          new-cluster-json: >
            {
              "autoscale": {
                "min_workers": 1,
                "max_workers": 1
              },
              "spark_version": "16.4.x-scala2.13",
              "node_type_id": "i3.xlarge",
              "aws_attributes": {
                "zone_id": "auto",
                "availability": "ON_DEMAND"
              },
              "custom_tags": {
                "ResourceClass": "JobCluster"
              },
              "policy_id": "E05E27B13F0003A0"
            }
          notebook-params-json: >
            {
              "table": "main.pixels_solacc_github_testsv20250706.object_catalog",
              "volume": "main.pixels_solacc_github_testsv20250706.pixels_volume"
            }
          access-control-list-json: >
            [
              {
                "group_name": "users",
                "permission_level": "CAN_MANAGE"
              }
            ]
